*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
proguard/
*.log
.navigation/
captures/
.idea/workspace.xml
.idea/libraries
*.jks
gen-external-apklibs
.idea/inspectionProfiles/
release/
debug/
