BasedOnStyle: Google
IndentWidth: 2
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignTrailingComments: false
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
SpacesBeforeTrailingComments: 2
SortIncludes: true
IncludeBlocks: Preserve
BinPackParameters: false
QualifierAlignment: Right
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^"boost.*'
    Priority: 2
  - Regex: '^"nigiri/core/common.*'
    Priority: 3
  - Regex: '^"nigiri/core/schedule.*'
    Priority: 4
  - Regex: '^"nigiri/core/.*'
    Priority: 5
  - Regex: '^"nigiri/module/.*'
    Priority: 6
  - Regex: '^"nigiri/bootstrap/.*'
    Priority: 7
  - Regex: '^"nigiri/loader/.*'
    Priority: 8
  - Regex: '^"nigiri/.*'
    Priority: 9
  - Regex: '^"nigiri/protocol.*'
    Priority: 10
  - Regex: '^"./.*'
    Priority: 11
  - Regex: '.*'
    Priority: 12
---
BasedOnStyle: Google
IndentWidth: 2
Language: ObjC
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignTrailingComments: false
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
SpacesBeforeTrailingComments: 2
ColumnLimit: 80
QualifierAlignment: Right
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^"boost.*'
    Priority: 2
  - Regex: '^"nigiri/core/common.*'
    Priority: 3
  - Regex: '^"nigiri/core/schedule.*'
    Priority: 4
  - Regex: '^"nigiri/core/.*'
    Priority: 5
  - Regex: '^"nigiri/module/.*'
    Priority: 6
  - Regex: '^"nigiri/bootstrap/.*'
    Priority: 7
  - Regex: '^"nigiri/loader/.*'
    Priority: 8
  - Regex: '^"nigiri/.*'
    Priority: 9
  - Regex: '^"nigiri/protocol.*'
    Priority: 10
  - Regex: '^"./.*'
    Priority: 11
  - Regex: '.*'
    Priority: 12
