/tiles-profiles
/*build*
!build.sh
!docker-compose.build.yml
!Dockerfile.build
/.pkg.mutex
/.clang-tidy
/.idea
.vscode/
.DS_Store
/deps
*.zip
*.bin
*.pbf
*.csv
/osr
/delfi
/test/test_case_osr
/fasta.json
/adr.cista*
/data
/test/data
dist/
fasta.json
config.yaml
config.yml
config.ini
.history
.DS_Store