/*ccache*
/.vscode
/.vs
/out
/data
.pkg.mutex
CMakeSettings.json
.settings
.cproject
.project
Bestandsstatistik.stat
Differenzstatistik.stat
/build*
/rohdaten*
*.user
*.bin
*.*~
*.zip
*.sublime-project
*.sublime-workspace
*.raw
*.db
*.sqlite
*.sqlite3
*.sqlite3-journal
stats.csv
tracking-in-messages.txt
gmon.out
/bikesharing*
config.ini
/eval
*.mdb
*.mdb-lock
/*build*
/.idea
/deps
pkg
/.clang-tidy
callgrind.out.*
*.callgrind
/.clangd
/compile_commands.json
verification/delfi
verification/hafas
verification/sbb
verification/sbb-small/r-routing-tso.txt
helper/.idea
helper/target
config_*
data
data_debug_schedule
data_hafas
data_delfi
.pkg.lock
gtfstid*
.gitignore
/deps/
cmake-vs
cmake-build-debug
cmake-build-relwithdebinfo
*.pdf