.app {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.overlay-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s ease;
  pointer-events: none;
}

.overlay-container.hidden {
  left: -590px;
}

.overlay {
  z-index: 10;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
  border-top-right-radius: 0;
  transition: all .4s ease;
  width: 570px;
  flex: 0 0 auto;
  order: 1;
  height: 100%;
  position: relative;
}

.overlay-container.hidden .overlay {
  box-shadow: unset;
}

#overlay-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: auto;
  position: relative;
}

.sub-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  transition: all .2s ease;
  pointer-events: auto;
  z-index: 20;
}

.sub-overlay.hidden {
  left: -590px;
}

#sub-overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23), 0 -2px 6px rgba(0, 0, 0, 0.23);
}

.sub-overlay-close {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  color: #4971E7;
}

.sub-overlay-close i {
  cursor: pointer;
}

.overlay-tabs {
  z-index: 10;
  order: 2;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}

.overlay-toggle {
  width: 30px;
  height: 45px;
  background: #fff;
  color: #777;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-toggle i {
  cursor: pointer;
  transition: all 0.2s ease;
  transform: rotate(90deg);
}

.overlay-container.hidden .overlay-toggle i {
  transform: rotate(270deg);
}

.trip-search-toggle {
  width: 30px;
  height: 40px;
  margin-top: 10px;
  background: #fff;
  color: #777;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.2s ease;
}

.trip-search-toggle.enabled {
  background: #6d8dec;
  color: #fff;
}

.trip-search-toggle i {
  cursor: pointer;
}

.overlay-container.hidden .trip-search-toggle {
  opacity: 0;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  flex: 1 1 auto;
  order: 2;
}

.inner-map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#map-foreground, #map-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: default;
}

.railviz-overlay.train-hover {
  cursor: pointer;
}

.railviz-tooltip {
  position: absolute;
  pointer-events: none;
  transition: opacity 100ms;
  font-size: 12px;
  background: #fff;
  color: #777;
  border: 1px solid #BBB;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 2px 5px;
  width: 240px;
}

.railviz-tooltip.hidden {
  display: none;
}

.railviz-tooltip.visible {
  display: block;
}

.railviz-tooltip .transport-name,
.railviz-tooltip .station-name {
  font-weight: 700;
  text-align: center;
}

.railviz-tooltip .departure,
.railviz-tooltip .arrival {
  display: flex;
  justify-content: space-between;
}

.railviz-tooltip .station {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.railviz-tooltip .time {
  display: flex;
  justify-content: space-between;
  min-width: 50px;
}

.railviz-tooltip .time.no-delay-infos {
  justify-content: flex-end;
  min-width: 35px;
}

.railviz-tooltip .time .delay {
  padding-left: 4px;
}

.railviz-contextmenu {
  position: absolute;
  transition: opacity 100ms;
  background: #fff;
  color: #000;
  border: 1px solid #BBB;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 2px;
}

.railviz-contextmenu.hidden {
  display: none;
}

.railviz-contextmenu.visible {
  display: block;
}

.railviz-contextmenu .item {
  cursor: pointer;
  padding: 10px 20px;
}

.railviz-contextmenu .item:hover {
  background: #e4eafb;
}

.map-bottom-overlay {
  position: absolute;
  bottom: 20px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.sim-time-overlay {
  padding: 0 5px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}

#railviz-loading-spinner {
  display: none;
}

#railviz-loading-spinner.visible {
  display: block;
}

.sim-time-overlay .spinner {
  width: 50px;
}

.sim-time-overlay .spinner > div {
  width: 14px;
  height: 14px;
  background-color: #999;
  opacity: 0.8;
}

.sim-time-overlay .permalink {
  padding: 0 10px;
  cursor: pointer;
}

.sim-time-overlay .permalink a {
  color: #000;
}

.sim-time-overlay .permalink i {
  vertical-align: middle;
  cursor: pointer;
}

.sim-time-overlay .sim-icon i {
  color: #999;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

.sim-time-overlay .time {
  cursor: pointer;
}

.sim-time-picker-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sim-time-picker-overlay {
  position: absolute;
  bottom: 70px;
  right: 70px;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 5px 20px;
  font-size: 14px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  pointer-events: auto;
}

.sim-time-picker-overlay.hidden {
  display: none;
}

.sim-time-picker-overlay .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #4971E7;
}

.sim-time-picker-overlay .close i {
  cursor: pointer;
}

.sim-time-picker-overlay .title {
  margin: 0 0 20px 0;
}

.sim-time-picker-overlay .title input {
  margin-right: 5px;
}

.sim-time-picker-overlay > div {
  transition: all .4s ease;
}

.sim-time-picker-overlay .disabled {
  filter: grayscale(100%) opacity(70%);
  pointer-events: none;
}

.sim-time-picker-overlay .date {
  position: relative;
}

.sim-time-picker-overlay .paper {
  bottom: 70px;
}

.train-color-picker-overlay {
  padding: 0 5px 5px 5px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.7);
}

.train-color-picker-overlay input {
  margin-right: 5px;
}

#railviz-error-overlay {
  position: absolute;
  top: 90px;
  right: 10px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .16);
}

#railviz-error-overlay i {
  padding-right: 5px;
  vertical-align: middle;
  color: #A30009;
}

#station-search {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 300px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  opacity: 0.9;
  border: 1px solid #DDDDDD;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .16);
  transition: all .4s ease;
}

#station-search .label {
  display: none;
}

#station-search .gb-input-group {
  margin-bottom: 0;
  border-radius: 2px;
}

#station-search .paper {
  margin-top: -2px;
}

#station-search .proposals li {
  width: 265px;
}

@media (max-width: 970px) {
  #station-search {
    opacity: 0;
  }

  #station-search.overlay-hidden {
    opacity: 0.9;
  }
}

#search,
#connections {
  padding: 24px;
}

#search {
  height: 200px;
  flex: 0 0 auto;
  padding-bottom: 0;
  transition: filter 1s;
}

#search.disabled {
  filter: grayscale(100%) opacity(10%);
}

.search-options-toggle {
  display: flex;
  justify-content: center;
}

.search-options-toggle .search-options-btn {
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-tooltip::after {
  content: attr(data-tooltip);
  display: inline;
  position: absolute;
  top: 22px;
  left: 0;
  opacity: 0;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  font-size: 12px;
  background: #fff;
  color: #777;
  border: 1px solid #BBB;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  pointer-events: none;
  /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  white-space: pre;
}

.with-tooltip::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  opacity: 0;
  width: 0;
  height: 0;
  border: solid transparent 5px;
  border-bottom-color: #fff;
  transition: opacity 250ms, top 250ms;
}

.with-tooltip:hover {
  z-index: 2;
}

/* Keeps the info boxes on top of other elements */

.with-tooltip:hover::after,
.with-tooltip:hover::before {
  opacity: 1;
}

.with-tooltip:hover::after {
  top: 30px;
}

.with-tooltip:hover::before {
  top: 20px;
}

.from-location,
.to-location {
  position: relative;
}

.from-location .gb-input,
.to-location .gb-input {
  padding-right: 20px;
}

.swap-locations-btn {
  position: absolute;
  right: 20px;
  top: 60px;
}

.swap-locations-btn input {
  display: none;
}

.swap-locations-btn .icon {
  font-size: 22px;
  transition: all 0.2s ease;
}

.swap-locations-btn :checked + .icon {
  transform: rotate(180deg);
}

.mode-picker-btn {
  position: absolute;
  right: 0px;
  top: 15px;
  background: #fff;
  padding: 5px;
  cursor: pointer;
}

.mode-picker-btn .mode {
  color: #abb7cc;
  height: 15px;
}

.mode-picker-btn .mode.enabled {
  color: #4971E7;
}

.mode-picker-btn i {
  font-size: 14px;
  cursor: pointer;
}

fieldset {
  border: 1px solid #6d8dec;
  border-radius: 4px;
}

fieldset > legend {
  padding: 0 5px;
}

.mode-picker-editor {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 540px;
  height: 510px;
  padding: 0;
  background: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23), 0 -2px 6px rgba(0, 0, 0, 0.23);
  flex-direction: column;
}

/* https://stackoverflow.com/questions/29986977/firefox-ignores-padding-when-using-overflowscroll */
.mode-picker-editor .content:after {
  content: "";
  height: 24px;
  display: block;
}

.mode-picker-editor .header {
  padding: 24px 24px 8px 24px;
}

.mode-picker-editor .content
{
  padding: 0 24px;
  overflow-y: auto;
}

.to-location .mode-picker-editor {
  top: -89px;
}

.mode-picker-editor.visible {
  display: flex;
}

.mode-picker-editor .mode {
  margin-top: 15px;
}

.mode-picker-editor .mode-header input {
  margin-right: 5px;
}

.mode-picker-editor .numeric.slider input[type="range"] {
  width: 365px;
  margin-right: 20px;
}

.mode-picker-editor .numeric.slider input[type="text"] {
  width: 50px;
}

.mode-picker-editor .coefficients {
  display: flex;
}

.mode-picker-editor .coefficients input {
  width: 100%;
  margin: 0 5px;
}

.mode-picker-editor .profile-picker {
  margin-bottom: 20px;
}

.time-option {
  height: 50px;
  line-height: 15px;
  margin-top: 15px;
  padding: 0 !important;
}

.time-option label {
  float: right;
  font-size: 70%;
  border-width: 0;
  border: 2px solid #6d8dec;
  border-radius: .35em;
  cursor: pointer;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px 0 !important;
  height: auto !important;
  width: 100%;
}

.time-option input {
  display: none;
}

.time-option input:checked + label {
  background-color: #6d8dec;
  color: white;
}

#connections {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.connections {
  padding-bottom: 20px;
}

#connections .no-results,
#connections .main-error,
#connections .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 200px;
}

#connections .main-error div {
  text-align: center;
}

#connections .schedule-range {
  margin-top: 1em;
}

#connections .extend-search-interval .error .schedule-range {
  margin-top: auto;
}

.connection {
  margin-top: 25px;
  cursor: pointer;
  transition: opacity 100ms ease-in-out, filter 100ms ease-in-out;
  filter: grayscale(0%);
}

.connection.new {
  animation: fade-in-connection 1.5s;
}

@keyframes fade-in-connection {
  from {
    filter: grayscale(100%) opacity(0%);
  }
  to {
    filter: grayscale(0%) opacity(100%);
  }
}

.connection.highlighted {
  /**/
}

.connection.faded {
  opacity: 0.6;
  filter: grayscale(100%);
}

.connection .delay {
  display: inline-block;
}

.divider {
  position: relative;
  z-index: -10;
  text-align: center;
  color: #4971E7;
  margin: 30px 0 -10px 0;
}

.divider:first-of-type {
  margin-top: -25px;
}

.divider.footer {
  margin: 25px 0 20px 0;
}

.divider::before {
  border-top: 1px solid #4971E7;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.divider span {
  background: #fff;
  padding: 0 15px;
}

.extend-search-interval {
  margin: 0;
  text-align: right;
  min-height: 28px;
  padding: 0 5px;
  z-index: 15;
}

.extend-search-interval a {
  cursor: pointer;
  background: #4971E7;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  margin: 0 40px 0 0;
  box-shadow: 4px 0px 0px 0px #fff, -4px 0px 0px 0px #fff;
}

.extend-search-interval .spinner {
  display: inline-block;
  margin: 0 30px 0 0;
  background: #fff;
  padding-top: 4px;
}

.extend-search-interval .error {
  text-align: center;
}

.extend-search-interval.search-after {
  margin-top: -13px;
}

.extend-search-interval.search-before .error {
  margin: 10px 0 40px 0;
}

.extend-search-interval.search-after .error {
  margin: 70px 0 15px 0;
}

.connection {
  position: relative;
}

.connection .labels {
  position: absolute;
  top: 0px;
  left: -14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
}

.connection .labels .connection-label {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin: 2px;
}

.connection-label.label-0 {
  background: #1a237e;
}

.connection-label.label-1 {
  background: #e91e63;
}

.connection-label.label-2 {
  background: #4caf50;
}

.connection-label.label-3 {
  background: #ff9800;
}

.connection-label.label-4 {
  background: #9c27b0;
}

.connection-label.label-5 {
  background: #9e9e9e;
}

.connection-label.label-6 {
  background: #3f51b5;
}

.connections .connection-duration {
  padding-top: 0.5em;
}

.all-stops {
  margin-top: 10px;
}

.train-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.train-list .train-box:first-of-type {
  margin-left: 0;
}

.train-list .train-box:last-of-type {
  margin-right: 0;
}

.train-box {
  padding: 4px;
  margin: 4px;
  border-radius: 12px;
  display: inline-block;
  cursor: default;
  height: 29px;
}

.train-box > * {
  color: white;
}

.train-box .train-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.train-box .train-name {
  margin: 0 4px 0 4px;
}

.with-tooltip {
  position: relative;
}

.train-sep {
  height: 1em;
  margin: 7px -4px 0 -4px;
  color: #ccc;
}

.connection .train-sep {
  cursor: pointer;
}

.neg-delay {
  color: green;
}

.pos-delay {
  color: red;
}

.train-detail {
  position: relative;
  width: 100%;
  min-height: 5em;
  padding: 29px 0 5px 32px;
}

.train-detail > * {
  color: #000;
}

.train-detail .top-border {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  z-index: -10;
}

.train-detail .train-box {
  position: absolute;
  top: -4px;
  left: -4px;
  box-shadow: 4px 0px 0px 0px #fff;
}

.train-detail .train-top-line {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #777;
  z-index: -10;
}

.train-detail .train-top-line span {
  padding: 4px;
  background: white;
}

.train-detail .track {
  color: #777;
  font-weight: 300;
  flex: 0 0 auto;
  display: none;
}

.trip-view .train-detail .first-stop .track,
.trip-view .train-detail .intermediate-stops .track {
  display: block;
}

.trip-view .train-dep-track {
  display: none;
}

.train-detail .train-dep-track,
.train-detail .train-arr-track {
  position: absolute;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: white;
  color: #777;
  font-weight: 300;
  box-shadow: -4px 0px 0px 0px #fff;
}

.train-detail .train-dep-track {
  top: 0px;
  right: 0px;
}

.train-detail .train-arr-track {
  top: 10px;
  right: 0px;
}

.train-detail:not(:last-of-type) .train-arr-track {
  display: none;
}

.train-detail .stop {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
}

.train-detail .stop span {
  padding: 0 6px;
  /*box-decoration-break: clone;
  -webkit-box-decoration-break: clone;*/
}

.last-stop .stop span {
  background-color: white;
}

.train-detail .stop .station {
  padding: 0 6px;
}

.train-detail .stop .station span {
  padding: 0;
  box-shadow: 6px 0 0 #fff, -6px 0 0 #fff;
  cursor: pointer;
}

.train-detail .stop .station span.virtual {
  cursor: default;
}

.train-detail .timeline {
  position: absolute;
  top: 0px;
  left: -22px;
  height: 100%;
  border-left: 4px solid;
  /*transition: height .5s ease, border-color .5s ease;*/
}

.train-detail .stop .timeline {
  top: 25px;
}

.train-detail .intermediate-stops-toggle .timeline-container {
  height: 117px;
  position: absolute;
  top: 0;
  left: 0;
}

.train-detail .first-stop .stop .timeline {
  top: 0px;
}

.train-detail:last-of-type .last-stop .stop .timeline {
  display: none;
}

.train-detail .last-stop {
  position: relative;
}

.train-detail .intermediate-stops .stop::before,
.train-detail:last-of-type .last-stop .stop::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -25px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  z-index: 10;
  transition: all 1s ease;
}

.train-detail:last-of-type .last-stop::after {
  content: "";
  position: absolute;
  top: 25px;
  left: -11px;
  width: 100%;
  border-top: 1px solid #ccc;
  z-index: -10;
}

.train-detail .last-stop .stop {
  margin-bottom: 0;
}

.train-detail .direction {
  font-weight: 300;
  color: #888;
  padding-left: 2px;
  position: relative;
}

.train-detail .direction i {
  color: #ccc;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 2px;
  margin-top: -4px;
}

.train-detail .intermediate-stops-toggle {
  padding: 32px 0 32px 32px;
  font-weight: 300;
  color: #888;
  position: relative;
  height: 92px;
}

.train-detail .intermediate-stops-toggle.clickable {
  cursor: pointer;
}

.train-detail .intermediate-stops.collapsed {
  display: none;
}

.train-detail .intermediate-stops.expanded {
  display: block;
}

.expand-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
}

.expand-icon i {
  position: absolute;
  vertical-align: middle;
}

.expand-icon i:first-of-type {
  position: absolute;
  top: 0px;
}

.expand-icon i:last-of-type {
  position: absolute;
  top: 12px;
}

.train-detail .intermediate-stops-toggle span {
  margin-left: 10px;
}

.train-detail .stop .time {
  font-weight: bold;
  width: 4em;
  flex: 0 0 4em;
  display: inline-block;
}

.time .past {
  color: #777;
}

.train-detail .stop div.delay {
  font-weight: bold;
  width: 4em;
  flex: 0 0 4em;
  display: inline-block;
}

.train-detail.initial-walk .stop div.delay {
  visibility: hidden;
}

.train-detail .stop .station {
  flex: 1 1 auto;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.train-class-0,
.train-class-0 .train-color-border,
.train-detail.train-class-0 .stop::before {
  color: #90a4ae;
}

.train-detail.train-class-1 .past .timeline:not(.bg),
.train-detail.train-class-1 .timeline.progress,
.train-detail.train-class-1 .stop.past::before {
  color: #bcc8ce;
}

.train-class-1,
.train-class-1 .train-color-border,
.train-detail.train-class-1 .stop::before {
  color: #9c27b0;
}

.train-detail.train-class-1 .past .timeline:not(.bg),
.train-detail.train-class-1 .timeline.progress,
.train-detail.train-class-1 .stop.past::before {
  color: #c47dd0;
}

.train-class-2,
.train-class-2 .train-color-border,
.train-detail.train-class-2 .stop::before {
  color: #e91e63;
}

.train-detail.train-class-2 .past .timeline:not(.bg),
.train-detail.train-class-2 .timeline.progress,
.train-detail.train-class-2 .stop.past::before {
  color: #f278a1;
}

.train-class-3,
.train-class-3 .train-color-border,
.train-detail.train-class-3 .stop::before {
  color: #9ccc65;
}

.train-detail.train-class-3 .past .timeline:not(.bg),
.train-detail.train-class-3 .timeline.progress,
.train-detail.train-class-3 .stop.past::before {
  color: #c3e0a2;
}

.train-class-4,
.train-class-4 .train-color-border,
.train-detail.train-class-4 .stop::before {
  color: #1a237e;
}

.train-detail.train-class-4 .past .timeline:not(.bg),
.train-detail.train-class-4 .timeline.progress,
.train-detail.train-class-4 .stop.past::before {
  color: #767bb2;
}

.train-class-5,
.train-class-6,
.train-class-5 .train-color-border,
.train-class-6 .train-color-border,
.train-detail.train-class-5 .stop::before,
.train-detail.train-class-6 .stop::before {
  color: #f44336;
}

.train-detail.train-class-5 .past .timeline:not(.bg),
.train-detail.train-class-6 .past .timeline:not(.bg),
.train-detail.train-class-5 .timeline.progress,
.train-detail.train-class-6 .timeline.progress,
.train-detail.train-class-5 .stop.past::before,
.train-detail.train-class-6 .stop.past::before {
  color: #f88e86;
}

.train-class-7,
.train-class-7 .train-color-border,
.train-detail.train-class-7 .stop::before {
  color: #4caf50;
}

.train-detail.train-class-7 .past .timeline:not(.bg),
.train-detail.train-class-7 .timeline.progress,
.train-detail.train-class-7 .stop.past::before {
  color: #94cf96;
}

.train-class-8,
.train-class-8 .train-color-border,
.train-detail.train-class-8 .stop::before {
  color: #3f51b5;
}

.train-detail.train-class-8 .past .timeline:not(.bg),
.train-detail.train-class-8 .timeline.progress,
.train-detail.train-class-8 .stop.past::before {
  color: #8c97d3;
}

.train-class-9,
.train-class-10,
.train-class-9 .train-color-border,
.train-class-10 .train-color-border,
.train-detail.train-class-9 .stop::before,
.train-detail.train-class-10 .stop::before {
  color: #ff9800;
}

.train-detail.train-class-9 .past .timeline:not(.bg),
.train-detail.train-class-10 .past .timeline:not(.bg),
.train-detail.train-class-9 .timeline.progress,
.train-detail.train-class-10 .timeline.progress,
.train-detail.train-class-9 .stop.past::before,
.train-detail.train-class-10 .stop.past::before {
  color: #ffc166;
}

.train-class-11,
.train-class-11 .train-color-border,
.train-detail.train-class-11 .stop::before {
  color: #00acc1;
}

.train-detail.train-class-11 .past .timeline:not(.bg),
.train-detail.train-class-11 .timeline.progress,
.train-detail.train-class-11 .stop.past::before {
  color: #99dde6;
}


.train-class-12,
.train-class-12 .train-color-border,
.train-detail.train-class-12 .stop::before {
  color: #9e9e9e;
}

.train-detail.train-class-12 .past .timeline:not(.bg),
.train-detail.train-class-12 .timeline.progress,
.train-detail.train-class-12 .stop.past::before {
  color: #c5c5c5;
}

.train-class-walk,
.train-class-walk .train-color-border,
.train-detail.train-class-walk .stop::before {
  color: #333;
}

.train-detail.train-class-walk .past .timeline:not(.bg),
.train-detail.train-class-walk .timeline.progress,
.train-detail.train-class-walk .stop.past::before {
  color: #666885;
}

.train-class-bike,
.train-class-bike .train-color-border,
.train-detail.train-class-bike .stop::before {
  color: #333;
}

.train-detail.train-class-bike .past .timeline:not(.bg),
.train-detail.train-class-bike .timeline.progress,
.train-detail.train-class-bike .stop.past::before {
  color: #666885;
}

.train-class-car,
.train-class-car .train-color-border,
.train-detail.train-class-car .stop::before {
  color: #333;
}

.train-detail.train-class-car .past .timeline:not(.bg),
.train-detail.train-class-car .timeline.progress,
.train-detail.train-class-car .stop.past::before {
  color: #666885;
}

.train-detail .train-color-border {
  border-color: currentColor;
}

.train-box,
.train-detail .stop::before {
  background-color: currentColor;
}

.connection-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.connection-details .connection-info {
  height: 150px;
  flex: 0 0 auto;
  margin: 0;
  padding: 16px 24px;
  font-weight: 300;
  border-bottom: 1px solid #4971E7;
}

.connection-info .header {
  position: relative;
}

.connection-info .header .back {
  position: absolute;
  left: 0;
  top: 0;
}

.connection-info .header .details {
  margin-left: 60px;
}

.connection-info .header .actions {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 60px;
  color: #4971E7;
}

.connection-info .header .date {
  font-weight: bold;
  font-size: 120%;
  padding-top: 8px;
  margin-bottom: 10px;
}

.connection-info .connection-times {
  display: flex;
}

.connection-info .connection-times > div {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.connection-info .connection-times .times {
  font-weight: 700;
  text-align: right;
  padding-right: 10px;
  flex: 0 0 auto;
}

.connection-info .connection-times .locations div {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.connection-info .summary {
  margin-top: 10px;
}

.back {
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 23px;
  width: 44px;
  height: 44px;
  display: flex;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
}

.back i {
  vertical-align: middle;
  cursor: pointer;
}

.back:hover {
  background: #eee;
}

.connection-info .duration i,
.connection-info .interchanges i {
  vertical-align: baseline;
  font-size: 16px;
  margin-right: 5px;
}

.connection-info .duration {
  margin-right: 20px;
}

.connection-details .connection-journey {
  overflow-y: auto;
  flex: 1 1 auto;
  padding: 20px 20px 0 20px;
}

.connection-details .connection-journey.empty {
  padding-top: 100px;
}

.connection-details .train-box {
  cursor: pointer;
}

.connection-details.trip-view .train-box {
  cursor: default;
}

.connection-details .train-box.train-class-walk,
.connection-details .train-box.train-class-bike,
.connection-details .train-box.train-class-car {
  padding: 4px 6px;
}

.station-events {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.station-events .header {
  height: 110px;
  flex: 0 0 auto;
  margin: 0;
  padding: 16px 24px;
  font-weight: 300;
  border-bottom: 1px solid #4971E7;
  position: relative;
}

.station-events .header .back {
  position: absolute;
  left: 24px;
  top: 16px;
}

.station-events .header .station {
  margin: 10px 45px 0 45px;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.station-events .header .event-type-picker {
  margin: 10px auto 0 auto;
}

.station-events .events {
  overflow-y: auto;
  flex: 1 1 auto;
  padding: 20px;
}

.event-type-picker {
  display: flex;
  justify-content: center;
}

.event-type-picker label {
  display: block;
  min-width: 100px;
  text-align: center;
  font-size: 80%;
  border-width: 0;
  border: 2px solid #6d8dec;
  border-radius: .35em;
  padding: 2px 0;
  margin: 4px;
  cursor: pointer;
}

.event-type-picker input {
  display: none;
}

.event-type-picker input:checked + label {
  background-color: #6d8dec;
  color: white;
}

.station-events .station-event {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.station-events .station-event .event-time {
  flex: 0 0 70px;
}

.station-events .station-event .event-train {
  margin-top: -7px;
  flex: 0 0 130px;
}

.station-events .station-event .event-direction {
  flex: 2 2 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.station-events .station-event .event-direction i {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 2px;
  margin-top: -4px;
}

.station-events .station-event .event-track {
  flex: 1 1 auto;
  text-align: right;
}

.station-events .divider:first-of-type {
  margin: -25px 0 10px 0;
}

.station-events .divider {
  margin: 20px 0 10px 0;
}

.station-events .no-results .msg {
  padding-top: 20px;
  text-align: center;
}

.station-events .main-error,
.connection-journey .main-error {
  text-align: center;
}

.station-events .train-box {
  cursor: pointer;
}

.trip-search {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.trip-search .header {
  height: 210px;
  flex: 0 0 auto;
  padding: 24px;
}

.trip-search .trips {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0px 24px 24px 24px;
}

.trip-search .no-results,
.trip-search .main-error,
.trip-search .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 200px;
}

.trip-search .trip {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.trip-search .trip .trip-time {
  flex: 0 0 70px;
}

.trip-search .trip .trip-time .date {
  color: #888;
}

.trip-search .trip .trip-train {
  margin-top: -7px;
  flex: 0 0 130px;
}

.trip-search .train-box {
  cursor: pointer;
}

.trip-search .trip .trip-first-station {
  flex: 2 2 auto;
  min-width: 0;
}

.trip-search .trip .station {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trip-search .trip .direction {
  font-weight: 300;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trip-search .trip .direction i {
  color: #ccc;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 2px;
  margin-top: -4px;
}
