@keyframes fadedown {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: -10px;
  }
}

.calendar {
  animation-name: fadedown;
  animation-duration: .1s;
}

.day-buttons {
  display: table;
  margin-right: 4px;
  border-spacing: 4px;
}

.day-buttons > * {
  display: table-cell;
}

.month {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: .85em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ee3897;
}

.month-name {
  flex: 1;
}

.month .icon {
  font-size: 1.5em;
  margin: 0 10px;
  cursor: pointer;
}

.weekdays, .calendardays {
  margin: 0;
  padding: 0;
  list-style: none;
}

.weekdays li, .calendardays li {
  display: table-cell;
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
  border-radius: 3px;
}

.calendardays li {
  font-size: 13px;
  cursor: pointer;
}

.calendardays li:hover {
  background-color: #dbe3fa;
}

.calendardays li.invalid-day:hover {
  background-color: #eee;
}

.weekdays li {
  color: #96a2ba;
  font-size: .75em;
  font-weight: 700;
  text-transform: uppercase;
}

.in-month {
  font-weight: bold !important;
}

.out-of-month {
  font-weight: lighter;
}

.calendardays li.invalid-day {
  color: #ccc;
}

.calendardays li.selected.invalid-day, .calendardays li.selected.invalid-day:hover {
  background-color: #777 !important;
}

.calendardays li.selected, .calendardays li.selected:hover {
  color: white;
  background-color: #809cee !important;
}

.today {
  border: 1px solid #4971E7;
}

@media (pointer:none), (pointer:coarse), screen and (max-width: 650px){
  .day-buttons {
    display: none;
  }
  
  .day-buttons > * {
    display: none;
  }
}