#connections {
  padding: 24px;
  flex: 1 1 auto;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

#connections .no-results,
#connections .main-error,
#connections .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-height: 200px;
}

#connections .main-error div {
  text-align: center;
}

#connections .schedule-range {
  margin-top: 1em;
}

#connections .extend-search-interval .error .schedule-range {
  margin-top: auto;
}


@media screen and (max-width: 650px) {
  #connections {
    margin-top: 45px;
    flex: 1 1 auto;
    overflow-y: auto;
  }
  
  #connections .no-results,
  #connections .main-error,
  #connections .loading {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    min-height: 200px;
  }
  
  #connections .main-error div {
    margin-top: 40px;
    text-align: center;
  }
  
  #connections .schedule-range {
    margin-top: 40px;
  }
  
  #connections .extend-search-interval .error .schedule-range {
    margin-top: 40px;
    margin-top: auto;
  }
}