.gb-input-group-selected {
  border-color: #5f93e7 !important;
  outline: 0;
}

.gb-input {
  display: table-cell;
  width: 100%;
  font-size: 15px;
  padding: 16px 0 16px 16px;
  border: none;
  line-height: 1;
  background: white;
  color: #3c374b;
}

.gb-input-group {
  display: table;
  vertical-align: middle;
  width: 100%;
  border-style: solid;
  border-color: #dbe0ed;
  border-width: 0 0 1px 0;
  margin-bottom: 16px;
  height: 50px;
  vertical-align: middle;
  position: relative;
  background-color: #fff;
  padding: 0;
  transition: .2s border-color, .2s box-shadow;
}

.gb-input-icon {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  color: #abb7cc;
}

.gb-input-icon .icon {
  padding-right: 0;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 4px;
  cursor: text;
}

.gb-input-widget {
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  width: 1%;
}