.mode-picker-editor {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 15px;
  width: 540px;
  height: 510px;
  padding: 0;
  background: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23), 0 -2px 6px rgba(0, 0, 0, 0.23);
  flex-direction: column;
}

/* https://stackoverflow.com/questions/29986977/firefox-ignores-padding-when-using-overflowscroll */
.mode-picker-editor .content:after {
  content: "";
  height: 24px;
  display: block;
}

.mode-picker-editor .header {
  padding: 24px 24px 8px 24px;
}

.mode-picker-editor .content {
  padding: 0 24px;
  overflow-y: auto;
}

.mode-picker-editor .option {
  box-sizing: border-box;
}

.mode-picker-editor .mode {
  margin-top: 15px;
}

.mode-picker-editor .mode-header input {
  margin-right: 5px;
}

.mode-picker-editor .numeric.slider input[type="range"] {
  width: 365px;
  margin-right: 20px;
}

.mode-picker-editor .numeric.slider input[type="text"] {
  width: 50px;
}

.mode-picker-editor .coefficients {
  display: flex;
}

.mode-picker-editor .coefficients input {
  width: 100%;
  margin: 0 5px;
}

.mode-picker-editor .profile-picker {
  margin-bottom: 20px;
}

.mode-picker-btn {
  position: absolute;
  right: 0px;
  top: 15px;
  background: #fff;
  padding: 5px;
  cursor: pointer;
  border-style: none;
}

.mode-picker-btn .mode {
  color: #abb7cc;
  height: 15px;
}

.mode-picker-btn .mode.enabled {
  color: #4971E7;
}

.mode-picker-btn i {
  font-size: 14px;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .mode-picker-editor {
    width: 93vw;
    overflow: hidden;
  }

  .mode-picker-editor .numeric.slider input[type="range"] {
    width: 50vw;
  }

  .mode-picker-editor .numeric.slider input[type="text"] {
    width: 6vw;
  }

  .mode-picker-editor .select {
    width: 35vw;
  }
}

@media screen and (max-device-height: 400px) {
  .mode-picker-editor {
    margin-left: 130px;
    height: 33vw;
  }

  .mode-picker-editor .content {
    height: 25vw;
    overflow-y: scroll;
  }
}