.search-btn {
  float: right;
}

.search-btn .icon {
  position: relative;
  top: 7px;
}

.swap-locations-btn {
  position: relative;
  right: 20px;
  top: 35px;
}

.swap-locations-btn .icon {
  font-size: 22px !important;
  transition: all 0.2s ease;
}

.flipped .icon { transform: rotate(180deg); }