.tag-list .tags {
  display: flex;
}

.tag {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  min-width: 32px;
  background-color: #6d8dec;
  color: white;
  margin: 5px;
  text-align: center;
  line-height: 32px;
  font-size: 32px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .16);
}

.tag.clickable,
.tag.clickable>* {
  cursor: pointer;
}

.tag.outline {
  border: 2px solid #6d8dec;
  background-color: white;
  color: #6d8dec;
}

.tag .tag-icon {
  padding: 4px;
}

.tag>.remove {
  position: absolute;
  z-index: 1;
  top: -9px;
  right: -9px;
  color: white;
  font-size: .6em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .56);
  border-radius: 999px;
  cursor: pointer;
}

.tag>.remove:hover {
  text-shadow: 0 2px 4px rgba(0, 0, 0, .56);
}

.tag>.remove:active {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .56);
}

.tag .options {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.tag .options input {
  width: 30px;
  text-align: center;
}

.add-tag-popup {
  display: flex !important;
  width: unset !important;
  padding: 4px;
  margin-left: 40px;
}

.add-tag-popup.hide {
  display: none !important;
}