.proposals {
  list-style: none;
  padding: 0 !important;
  margin: 0;
  white-space: nowrap;
}

.proposals li {
  font-weight: 500;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  display: block;
  width: 300px;
  overflow: hidden;
  color: #777;
  text-overflow: ellipsis;
  font-size: 110%;
  cursor: pointer;
}

.proposals li.selected {
  background-color: #e4eafb;
}

.proposals li i {
  vertical-align: middle;
  margin-right: 5px;
  color: #777;
  cursor: pointer;
}

.proposals .station,
.proposals .address-name {
  color: #000;
}

.proposals .address-region {
  margin-left: 5px;
  color: #777;
  font-size: 75%;
}