name: Unix Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types:
      - published

jobs:
  formatting:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Install clang-format
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 11
          rm llvm.sh
          sudo apt-get install -y --no-install-recommends clang-format-11

      - name: Format files
        run: find base libs modules test -type f -a \( -name "*.cc" -o -name "*.h" \) -print0 | xargs -0 clang-format-11 -i

      - name: Check for differences
        run: |
          git status --porcelain
          git status --porcelain | xargs -I {} -0 test -z \"{}\"

  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: macOS Release
            cxx: clang++
            cc: clang
            mode: Release
            cxxflags: -stdlib=libc++
            os: macos-latest
            artifact: macos
            avx: On
            avx2: On
            webui: On
            tests: Off
            strip: strip
          - name: macOS Release (no avx)
            cxx: clang++
            cc: clang
            mode: Release
            cxxflags: -stdlib=libc++
            os: macos-latest
            artifact: macos-noavx2
            avx: On
            avx2: Off
            webui: On
            tests: On
            strip: strip
          - name: GCC 10 Release
            cxx: g++-10
            cc: gcc-10
            mode: Release
            os: ubuntu-20.04
            artifact: linux
            dockerplatform: linux/amd64
            avx: On
            avx2: On
            webui: On
            tests: On
            strip: strip
          - name: GCC 10 Release (no-avx)
            cxx: g++-10
            cc: gcc-10
            mode: Release
            os: ubuntu-20.04
            artifact: linux-noavx
            avx: Off
            avx2: Off
            webui: On
            tests: On
            strip: strip
          - name: aarch64 Release
            cxx: aarch64-linux-gnu-g++-10
            cc: aarch64-linux-gnu-gcc-10
            cross: |-
              -DCMAKE_AR=/usr/bin/aarch64-linux-gnu-ar \
              -DCMAKE_LINKER=/usr/bin/aarch64-linux-gnu-ld \
              -DCMAKE_SYSTEM_NAME=Linux \
              -DCMAKE_SYSTEM_PROCESSOR=aarch64 \
              -DCMAKE_CROSSCOMPILING_EMULATOR="qemu-aarch64-static;-L;/usr/aarch64-linux-gnu" \
            mode: Release
            os: ubuntu-20.04
            artifact: linux-aarch64
            dockerplatform: linux/arm64
            avx: Off
            avx2: Off
            webui: On
            tests: On
            emulator: qemu-aarch64-static -L /usr/aarch64-linux-gnu
            strip: aarch64-linux-gnu-strip
          - name: arm Release
            cxx: arm-linux-gnueabihf-g++-10
            cc: arm-linux-gnueabihf-gcc-10
            cross: |-
              -DCMAKE_AR=/usr/bin/arm-linux-gnueabihf-ar \
              -DCMAKE_LINKER=/usr/bin/arm-linux-gnueabihf-ld \
              -DCMAKE_SYSTEM_NAME=Linux \
              -DCMAKE_SYSTEM_PROCESSOR=arm \
              -DCMAKE_CROSSCOMPILING_EMULATOR="qemu-arm-static;-L;/usr/arm-linux-gnueabihf" \
            mode: Release
            os: ubuntu-20.04
            artifact: linux-arm
            dockerplatform: linux/armv8
            avx: Off
            avx2: Off
            webui: On
            tests: On
            emulator: qemu-arm-static -L /usr/arm-linux-gnueabihf
            strip: arm-linux-gnueabihf-strip
          - name: GCC 10 Debug
            cxx: g++-10
            cc: gcc-10
            mode: Debug
            os: ubuntu-20.04
            avx: On
            avx2: On
            webui: Off
            tests: On
          - name: Clang 11 Release
            cxx: clang++-11
            cc: clang-11
            mode: Release
            cxxflags: -stdlib=libc++
            ldflags: -lc++abi
            os: ubuntu-20.04
            avx: On
            avx2: On
            webui: Off
            tests: On
          - name: Clang Tidy
            cxx: clang++-11
            cc: clang-11
            mode: Debug
            cxxflags: -stdlib=libc++
            ldflags: -lc++abi
            lint: true
            os: ubuntu-20.04
            avx: On
            avx2: On
            webui: Off
            tests: On
          - key: Clang 11 Sanitizer
            cxx: clang++-11
            cc: clang-11
            mode: Release
            cflags: -fsanitize=address,undefined -fno-omit-frame-pointer
            cxxflags: -fsanitize=address,undefined -fno-omit-frame-pointer -stdlib=libc++
            ldflags: -lc++abi
            os: ubuntu-20.04
            avx: On
            avx2: On
            webui: Off
            tests: On
    env:
      DEBIAN_FRONTEND: noninteractive
      BUILDCACHE_COMPRESS: true
      BUILDCACHE_ACCURACY: SLOPPY
      BUILDCACHE_LUA_PATH: ${{ github.workspace }}/tools
      BUILDCACHE_DIR: ${{ github.workspace }}/.buildcache
      UBSAN_OPTIONS: halt_on_error=1:abort_on_error=1
    steps:
      - uses: actions/checkout@v2

      - uses: seanmiddleditch/gha-setup-ninja@master
        if: matrix.config.os == 'macos-latest'

      # ==== INSTALL ====
      - name: Update APT
        if: matrix.config.os != 'macos-latest'
        run: sudo apt-get update

      - name: Install LLVM
        if: matrix.config.os != 'macos-latest' && matrix.config.cc == 'clang-11'
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 11
          rm llvm.sh
          sudo apt-get install -y --no-install-recommends libc++-11-dev libc++abi-11-dev clang-tidy-11

      - name: Install Valgrind
        if: matrix.config.mode == 'Debug' && matrix.config.cc == 'gcc-10'
        run: sudo apt-get install -y --no-install-recommends valgrind

      - name: Install Ninja
        if: matrix.config.os != 'macos-latest'
        run: sudo apt-get install -y --no-install-recommends ninja-build

      - name: Cross Compilation (aarch64)
        if: matrix.config.artifact == 'linux-aarch64'
        run: sudo apt install -y --no-install-recommends qemu-user-static binfmt-support g++-10-aarch64-linux-gnu gcc-10-aarch64-linux-gnu binutils-aarch64-linux-gnu

      - name: Cross Compilation (arm)
        if: matrix.config.artifact == 'linux-arm'
        run: sudo apt install -y --no-install-recommends qemu-user-static binfmt-support g++-10-arm-linux-gnueabihf gcc-10-arm-linux-gnueabihf binutils-arm-linux-gnueabi

      # ==== CACHING ====
      - name: buildcache Cache
        uses: actions/cache@v1.1.2
        with:
          path: ${{ github.workspace }}/.buildcache
          key: buildcache-${{ matrix.config.os }}-${{ matrix.config.cc }}-${{ matrix.config.mode }}-${{ contains(matrix.config.cxxflags, 'sanitize') }}-${{ matrix.config.lint }}-${{ hashFiles('.pkg') }}-${{ hashFiles('**/*.h') }}-${{ hashFiles('**/*.cc') }}
          restore-keys: |
            buildcache-${{ matrix.config.os }}-${{ matrix.config.cc }}-${{ matrix.config.mode }}-${{ contains(matrix.config.cxxflags, 'sanitize') }}-${{ matrix.config.lint }}-${{ hashFiles('.pkg') }}-${{ hashFiles('**/*.h') }}-
            buildcache-${{ matrix.config.os }}-${{ matrix.config.cc }}-${{ matrix.config.mode }}-${{ contains(matrix.config.cxxflags, 'sanitize') }}-${{ matrix.config.lint }}-${{ hashFiles('.pkg') }}-
            buildcache-${{ matrix.config.os }}-${{ matrix.config.cc }}-${{ matrix.config.mode }}-${{ contains(matrix.config.cxxflags, 'sanitize') }}-${{ matrix.config.lint }}-

      - name: Dependencies Cache
        uses: actions/cache@v1.1.2
        with:
          path: ${{ github.workspace }}/deps
          key: deps-${{ hashFiles('.pkg') }}
          restore-keys: deps-

      # ==== BUILD ====
      - name: CMake
        run: |
          cmake ${{ matrix.config.cross }} \
            -G Ninja -S . -B build \
            -DCMAKE_C_COMPILER=${{ matrix.config.cc }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.config.cxx }} \
            -DCMAKE_C_FLAGS="${{ matrix.config.cflags }}" \
            -DCMAKE_CXX_FLAGS="${{ matrix.config.cxxflags }}" \
            -DCMAKE_CXX_FLAGS_DEBUG="" \
            -DCMAKE_CXX_LINKER_FLAGS=${{ matrix.config.ldflags }}" \
            -DCMAKE_CXX_EXE_LINKER_FLAGS="${{ matrix.config.ldflags }} \
            -DCMAKE_BUILD_TYPE=${{ matrix.config.mode }} \
            -DMOTIS_LINT=${{ matrix.config.lint }} \
            -DMOTIS_AVX=${{ matrix.config.avx }} \
            -DMOTIS_AVX2=${{ matrix.config.avx2 }} \
            -DCTX_ASAN=${{ contains(matrix.config.cxxflags, '-fsanitize=address') }} \
            -DCTX_VALGRIND=${{ matrix.config.cc == 'gcc-10' && matrix.config.mode == 'Debug' }} \
            -DMOTIS_WITH_WEBUI=${{ matrix.config.webui }}

      - name: Build
        run: |
          ./build/buildcache/bin/buildcache -z
          cmake --build build --target motis motis-test motis-itest motis-eval motis-intermodal-eval
          ./build/buildcache/bin/buildcache -s

      # ==== TESTS ====
      - name: Run Test Mode
        if: matrix.config.tests == 'On'
        run: |
          ${{ matrix.config.emulator }} ./build/motis --mode test \
            --import.paths schedule:base/loader/test_resources/hrd_schedules/single-ice \
            --dataset.begin 20151004 \
            --dataset.write_serialized false \
            --exclude_modules address osrm parking path ppr tiles \
            --ris.db_max_size 1048576

      - name: Run Tests
        if: matrix.config.tests == 'On'
        run: ${{ matrix.config.emulator }} ./build/motis-test

      - name: Run Integration Tests
        if: matrix.config.tests == 'On'
        run: ${{ matrix.config.emulator }} ./build/motis-itest

      # ==== VALGRIND ====
      - name: Run Test Mode Valgrind
        if: matrix.config.mode == 'Debug' && matrix.config.cc == 'gcc-10'
        run: >
          valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full \
            ./build/motis --mode test \
              --import.paths schedule:base/loader/test_resources/hrd_schedules/single-ice \
              --dataset.begin 20151004 \
              --dataset.write_serialized false \
              --ris.db_max_size 1048576 \
              --exclude_modules address osrm parking path ppr tiles

      - name: Run Tests Valgrind
        if: matrix.config.mode == 'Debug' && matrix.config.cc == 'gcc-10'
        run: valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full ./build/motis-test

      - name: Run Integration Tests Valgrind
        if: matrix.config.mode == 'Debug' && matrix.config.cc == 'gcc-10'
        run: valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full ./build/motis-itest

      # ==== DISTRIBUTION ====
      - name: Strip Executable
        if: matrix.config.artifact
        run: ${{ matrix.config.strip }} build/motis

      - name: Compile Web Interface
        if: matrix.config.webui == 'On'
        run: cmake --build build --target motis-web-ui

      - name: Create Distribution
        if: matrix.config.artifact
        run: |
          mkdir motis
          mv ui/web motis
          mv build/motis motis
          cp -r deps/osrm-backend/profiles motis/osrm-profiles
          cp -r deps/ppr/profiles motis/ppr-profiles
          cp -r deps/tiles/profile motis/tiles-profiles
          tar cjf motis-${{ matrix.config.artifact }}.tar.bz2 motis

      - name: Upload Distribution
        if: matrix.config.artifact
        uses: actions/upload-artifact@v1
        with:
          name: motis-${{ matrix.config.artifact }}
          path: motis-${{ matrix.config.artifact }}.tar.bz2

      # ==== DOCKER ====
      - name: Docker setup-buildx
        if: matrix.config.os == 'ubuntu-20.04' && matrix.config.artifact != ''
        uses: docker/setup-buildx-action@v1
        with:
          install: true

      - name: Docker Login to GitHub Container Registry
        if: matrix.config.os == 'ubuntu-20.04' && matrix.config.artifact != ''
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        if: matrix.config.os == 'ubuntu-20.04' && matrix.config.artifact != ''
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=edge

      - name: Docker build and push
        if: matrix.config.os == 'ubuntu-20.04' && matrix.config.artifact != ''
        uses: docker/build-push-action@v2
        with:
          #push: ${{ github.event_name != 'pull_request' }}
          context: .
          build-args: |
            ARCHIVE=${{ env.GITHUB_WORKSPACE }}/motis-${{ matrix.config.artifact }}.tar.bz2
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ matrix.config.dockerplatform }}

      # ==== RELEASE ====
      - name: Upload Release
        if: github.event.action == 'published' && matrix.config.artifact
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./motis-${{ matrix.config.artifact }}.tar.bz2
          asset_name: motis-${{ matrix.config.artifact }}.tar.bz2
          asset_content_type: application/x-tar
