name: Windows Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: [self-hosted, windows]

    strategy:
      matrix:
        mode: [Debug, Release]

    env:
      CXX: cl
      CC: cl

    steps:
      - uses: actions/checkout@v2
      - uses: seanmiddleditch/gha-setup-ninja@master
      - uses: lukka/get-cmake@v3.17.1

      - name: Dependencies Cache
        uses: actions/cache@v1.1.2
        with:
          path: ${{ github.workspace }}/deps
          key: deps-${{ hashFiles('.pkg') }}

      - name: Build
        run: |
          $devShell = &"${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -find **\Microsoft.VisualStudio.DevShell.dll
          $installPath = &"${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationpath
          Import-Module $devShell
          Enter-VsDevShell -VsInstallPath $installPath -SkipAutomaticLocation -DevCmdArguments "-arch=amd64"
          cmake -GNinja -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.mode }}
          cmake --build build --target motis motis-test motis-itest path-prepare ppr-preprocess osrm-extract osrm-contract parking-prepare at-example motis-eval motis-intermodal-eval

      - name: Run Test Mode
        run: >
          .\build\motis --mode test
          --dataset.path base/loader/test_resources/hrd_schedules/single-ice
          --dataset.begin 20151111
          --dataset.write_serialized false

      - name: Run Tests
        run: .\build\motis-test.exe

      - name: Run Integration Tests
        run: .\build\motis-itest.exe

      - name: Create Distribution
        if: matrix.mode == 'Release'
        run: >
          7z a motis-${{ github.sha }}-windows.zip
          .\build\motis.exe
          .\build\path-prepare.exe
          .\build\parking-prepare.exe
          .\build\deps\osrm-backend\osrm-extract.exe
          .\build\deps\osrm-backend\osrm-contract.exe
          .\build\deps\address-typeahead\at-example.exe
          .\build\deps\ppr\ppr-preprocess.exe
          .\deps\osrm-backend\profiles

      - name: Upload Distribution
        if: matrix.mode == 'Release'
        uses: actions/upload-artifact@v1
        with:
          name: motis-${{ github.sha }}-windows.zip
          path: motis-${{ github.sha }}-windows.zip
