name: Windows Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        config:
          - mode: Debug
            webui: Off
          - mode: Release
            webui: On

    env:
      CXX: cl.exe
      CC: cl.exe
      BUILDCACHE_COMPRESS: true
      BUILDCACHE_DIRECT_MODE: true
      BUILDCACHE_ACCURACY: SLOPPY # not suitable for coverage/debugging
      BUILDCACHE_DIR: ${{ github.workspace }}/.buildcache
      BUILDCACHE_LUA_PATH: ${{ github.workspace }}/tools
      BUILDCACHE_MAX_CACHE_SIZE: 1073741824

    steps:
      - uses: actions/checkout@v3

      - name: Install ninja
        run: choco install ninja

      # ==== RESTORE CACHE ====
      - name: Restore buildcache Cache
        uses: actions/cache/restore@v3
        id: restore-buildcache
        with:
          path: ${{ github.workspace }}/.buildcache
          key: buildcache-wnds-${{ matrix.config.mode }}

      - name: Restore Dependencies Cache
        uses: actions/cache/restore@v3
        id: restore-deps-cache
        with:
          path: ${{ github.workspace }}/deps
          key: deps
          enableCrossOsArchive: true

      # ==== BUILD ====
      - uses: ilammy/msvc-dev-cmd@v1

      - name: Build
        run: |
          git config --global core.autocrlf input
          cmake `
            -GNinja -S . -B build `
            -DCMAKE_BUILD_TYPE=${{ matrix.config.mode }} `
            -DMOTIS_DEBUG_SYMBOLS=OFF `
            -DMOTIS_WITH_WEBUI=${{ matrix.config.webui }}
          .\build\buildcache\bin\buildcache.exe -z
          cmake --build build --target `
            motis `
            motis-test `
            motis-itest
          $CompilerExitCode = $LastExitCode
          .\build\buildcache\bin\buildcache.exe -s
          exit $CompilerExitCode

      # ==== TESTS ====
      - name: Run Test Mode
        run: >
          .\build\motis
          --mode test
          --import.paths schedule:base/loader/test_resources/hrd_schedules/single-ice
          --dataset.begin 20151004
          --dataset.write_serialized false
          --nigiri.no_cache true
          --exclude_modules address osrm parking path ppr tiles gbfs

      - name: Run Tests
        run: .\build\motis-test.exe

      - name: Run Integration Tests
        run: .\build\motis-itest.exe

      # ==== WEB INTERFACE ====
      - name: Compile Web Interface
        if: matrix.config.webui == 'On'
        run: |
          cmake --build build --target motis-web-ui
          rm -r ui/web/elm-stuff
          rm -r ui/web/src

      - name: pnpm Cache
        if: matrix.config.webui == 'On'
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            pnpm-${{ runner.os }}-

      - name: Install RSL Web Interface Dependencies
        uses: pnpm/action-setup@v2
        if: matrix.config.webui == 'On'
        with:
          version: ^8.3.1
          run_install: |
            - cwd: ./ui/rsl

      - name: Compile RSL Web Interface
        if: matrix.config.webui == 'On'
        run: pnpm run build
        working-directory: ./ui/rsl

      # ==== API DOCS ====
      - name: Install Protocol Tool Dependencies
        if: matrix.config.mode == 'Release'
        uses: pnpm/action-setup@v2
        with:
          version: ^8.3.1
          run_install: |
            - cwd: tools/protocol

      - name: Run Protocol Tool
        if: matrix.config.mode == 'Release'
        run: pnpm start --skip rsl-ui
        working-directory: tools/protocol

      # ==== DISTRIBUTION ====
      - name: Move Profiles
        if: matrix.config.mode == 'Release'
        run: |
          Copy-Item .\deps\osrm-backend\profiles .\osrm-profiles -Recurse
          Copy-Item .\deps\ppr\profiles .\ppr-profiles -Recurse
          Copy-Item .\deps\tiles\profile .\tiles-profiles -Recurse

      - name: Move Web UI
        if: matrix.config.mode == 'Release'
        run: |
          mkdir web
          Copy-Item .\ui\web\external_lib,.\ui\web\img,.\ui\web\js,.\ui\web\style .\web\ -Recurse
          Copy-Item .\ui\web\*.html,.\ui\web\*.js,.\ui\web\*.ico .\web\
          Copy-Item .\ui\web\openapi .\web\ -Recurse
          Copy-Item .\ui\rsl\dist .\web\rsl -Recurse

      - name: Move API Docs
        if: matrix.config.mode == 'Release'
        run: |
          Copy-Item .\docs\generated\openapi-3.1\openapi.yaml .\web\openapi\openapi.yaml
          Copy-Item .\docs\generated\openapi-3.0\openapi.yaml .\web\openapi\openapi-3.0.yaml

      - name: Create Distribution
        if: matrix.config.mode == 'Release'
        run: >
          7z a motis-windows.zip
          .\build\motis.exe
          .\osrm-profiles
          .\ppr-profiles
          .\tiles-profiles
          .\web

      - name: Upload Distribution
        if: matrix.config.mode == 'Release'
        uses: actions/upload-artifact@v1
        with:
          name: motis-windows
          path: motis-windows.zip

      # ==== RELEASE ====
      - name: Upload Release
        if: github.event.action == 'published' && matrix.config.mode == 'Release'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./motis-windows.zip
          asset_name: motis-windows.zip
          asset_content_type: application/zip

      # ==== SAVE CACHE ====
      - name: Save buildcache Cache
        if: always()
        uses: actions/cache/save@v3
        with:
          path: ${{ github.workspace }}/.buildcache
          key: ${{ steps.restore-buildcache.outputs.cache-primary-key }}

      - name: Save Dependencies Cache
        if: always()
        uses: actions/cache/save@v3
        with:
          path: ${{ github.workspace }}/deps
          key: ${{ steps.restore-deps-cache.outputs.cache-primary-key }}
          enableCrossOsArchive: true
