name: Windows Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    types:
      - published

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        mode: [Debug, Release]

    env:
      CXX: cl.exe
      CC: cl.exe
      BUILDCACHE_COMPRESS: true
      BUILDCACHE_ACCURACY: SLOPPY # not suitable for coverage/debugging
      BUILDCACHE_DIR: ${{ github.workspace }}/.buildcache
      BUILDCACHE_LUA_PATH: ${{ github.workspace }}/tools

    steps:
      - uses: actions/checkout@v2
      - uses: seanmiddleditch/gha-setup-ninja@master

      - name: buildcache Cache
        uses: actions/cache@v1.1.2
        with:
          path: ${{ github.workspace }}/.buildcache
          key: buildcache-wnds-${{ matrix.mode }}-${{ hashFiles('.pkg') }}-${{ hashFiles('**/*.h') }}-${{ hashFiles('**/*.cc') }}
          restore-keys: |
            buildcache-wnds-${{ matrix.mode }}-${{ hashFiles('.pkg') }}-${{ hashFiles('**/*.h') }}
            buildcache-wnds-${{ matrix.mode }}-${{ hashFiles('.pkg') }}-
            buildcache-wnds-${{ matrix.mode }}-

      - name: Dependencies Cache
        uses: actions/cache@v1.1.2
        with:
          path: ${{ github.workspace }}/deps
          key: deps-${{ hashFiles('.pkg') }}
          restore-keys: deps-

      - name: Build
        run: |
          $devShell = &"${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -find **\Microsoft.VisualStudio.DevShell.dll
          $installPath = &"${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationpath
          Import-Module $devShell
          Enter-VsDevShell -VsInstallPath $installPath -SkipAutomaticLocation -DevCmdArguments "-arch=amd64"
          cmake -GNinja -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.mode }} -DMOTIS_DEBUG_SYMBOLS=OFF
          .\build\buildcache\bin\buildcache.exe -z
          cmake --build build --target motis motis-test motis-itest motis-eval motis-intermodal-eval
          .\build\buildcache\bin\buildcache.exe -s

      # ==== TESTS ====
      - name: Run Test Mode
        run: >
          .\build\motis
          --mode test
          --import.paths schedule:base/loader/test_resources/hrd_schedules/single-ice
          --dataset.begin 20151004
          --dataset.write_serialized false
          --exclude_modules address osrm parking path ppr tiles

      - name: Run Tests
        run: .\build\motis-test.exe

      - name: Run Integration Tests
        run: .\build\motis-itest.exe

      # ==== DISTRIBUTION ====
      - name: Compile Web Interface
        if: matrix.mode == 'Release'
        run: |
          cd .\ui\web
          mkdir elm
          cd elm
          Invoke-WebRequest -Uri https://github.com/elm-lang/elm-platform/releases/download/0.18.0-exp/elm-platform-windows.tar.gz -OutFile elm-platform-windows.tar.gz
          cmake -E tar xzf .\elm-platform-windows.tar.gz
          cd ..
          .\elm\elm-make.exe --yes .\src\Main.elm --output elm.js
          Remove-Item -Recurse -Force .\elm

      - name: Move Profiles
        if: matrix.mode == 'Release'
        run: |
          echo d | xcopy /s .\deps\osrm-backend\profiles .\osrm-profiles
          echo d | xcopy /s .\deps\ppr\profiles .\ppr-profiles
          echo d | xcopy /s .\deps\tiles\profile .\tiles-profiles

      - name: Create Distribution
        if: matrix.mode == 'Release'
        run: >
          7z a motis-windows.zip
          .\build\motis.exe
          .\osrm-profiles
          .\ppr-profiles
          .\tiles-profiles
          .\ui\web

      - name: Upload Distribution
        if: matrix.mode == 'Release'
        uses: actions/upload-artifact@v1
        with:
          name: motis-windows
          path: motis-windows.zip

      # ==== RELEASE ====
      - name: Upload Release
        if: github.event.action == 'published' && matrix.mode == 'Release'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./motis-windows.zip
          asset_name: motis-windows.zip
          asset_content_type: application/zip
